html {
	margin: auto;
	display: table;
}

body {
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#warning {
	width: 40%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}